

/*Summary Section*/


/*Problem Solution Section*/

/*Discover Section*/

#discover h2, h3 {
  margin-bottom: 1rem;
}

/*Define Section*/
#define img {
  padding: 2rem 0;
}

/*deliver*/
a {
  text-decoration: underline;
  text-decoration-color: #98b1fb;
  font-weight: bold;
}

a:hover {
  color: #98b1fb;
}
