/*Header*/

header {
  background-image: url("../images/banner.png");
}

/*Summary Section*/

.casestudy-process {
  line-height: 1.8rem;
  text-decoration: underline;
}
/*Problem Solution Section*/

.problem-solution {
  text-align: center;
}

.problem-solution h3, p {
  margin: 1rem;
}

.problem-solution img {
  margin: 0 auto;
}

/*Discover Section*/

#discover h2, h3 {
  margin-bottom: 1rem;
}

/*Define Section*/
#define img {
  padding: 2rem 0;
}

/*deliver*/
#deliver a {
  text-decoration: underline;
}
