header {
  background-image: url("../images/headshot.jpg");
}

/*work*/

.grid-item {
  height: 200px;
  text-align: center;
  padding-top: 20%;
}

#project1 {
  background-image: url("../images/banner.png");
  background-position: 75% 20%;
}

#work h1 {
  margin-bottom: 2rem;
  text-align: center;
}

/*About Section*/
#about {
  margin: 5rem 0 2rem 0;
  text-align: center;
}

#about button {
  margin-top: 1.5rem;
}

#contact {
  margin: 5rem 0 2rem 0;
  text-align: center;
}

#contact h1 {
  margin-bottom: 2rem;
}
