body {
  background-color: #f9f9fa;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 20px;
}

/*Nav Bar*/

nav {
  display: inline-flex;
  font-size: .9rem;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

nav ul {
  padding-right: 1rem;
}

nav li {
  display: inline-flex;
  padding: 1rem;
  margin: 0 auto;
}
/*header*/
header {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fafaf9;
  height: 600px;
}

header h1 {
  padding-top: 45%;
}
/*footer*/

footer {
  display: flex;
  justify-content: center;
  background-color: #fafaf9;
  padding: 2rem;
}

/*backgrounds*/

.black-background {
  background-color: #0e0a0a;
  color: #f9f9fa;
}

.blue-background {
  background-color: #514394;
  color: #f9f9fa;
}

.blue-background a:hover {
  color: #0e0a0a;
}

/*icons + email*/

/*typography*/

h1 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2.1rem;
}

h2 {
  font-size: 1.424rem;
  font-style: italic;
  line-height: 2.1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.7rem;
}

h4 {
  font-size: 1.15rem;
  line-height: 1.6rem;
}

h5 {
  font-weight: normal;
  line-height: 1.6rem;
}

p {
  line-height: 1.4rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  line-height: 1.6rem;
}

a:hover {
  color: #514394;
}

a:clicked {
  color: #f0534f;
}

/*BULLETED LIST*/

.bullets {
  text-align: left;
  margin-left: 1.2rem;
  list-style-type: circle;
  line-height: 2.5rem;
}

/*no bullets*/

.no-bullets {
  line-height: 2rem;
  text-indent: 1rem;
  font-style: italic;
  text-align: center;
}

/*buttons*/

button {
  border: 3px solid #514394;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgrey;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

/*highlight grey box*/

.small-box {
  background-color: #EEEEEE;
  color: #0e0a0a;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgrey;
  padding: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/*grid*/

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.grid-item3 {
  grid-column-start: 3;
  grid-column-end: 3;
}

.grid-item4 {
  grid-column-start: 4;
  grid-column-end: 4;
}

.padding-3 {
  padding: 7%;
}

.padding-left {
  padding-left: 5%;
}

/*Mobile*/

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .grid-container-2, .grid-container-3, .grid-container-4 {
    display: block;
  }

}

/*Tablet*/

@media only screen and (min-width: 600px) {}
